<section>
  <div class="row flex-wrap p-5">
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <h3 class="">Tus conversaciones privadas</h3>
          <p *ngIf="private_conversations.size === 0">
            No tienes conversaciones privadas en este momento
          </p>
          <div class="scrollable">
            <div
              *ngFor="let conversation of private_conversations | keyvalue"
              class="d-flex flex-row align-items-center list-element m-0 p-2"
              (click)="selectConversation(conversation.value)"
            >
              <div>
                <img
                  src="../assets/images/users/user.png"
                  alt="user"
                  width="27"
                  class="rounded-circle"
                />
              </div>
              <div class="w-100 mx-3">
                <h6 class="font-light">
                  {{
                    getPrivateConversationName(
                      conversation.value.conversation_id
                    )
                  }}
                </h6>
              </div>
              <div class="dropdown-divider"></div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <h3 class="">Tus conversaciones grupales</h3>
          <div class="comment-widgets scrollable">
            <p *ngIf="group_conversations.size === 0">
              No tienes conversaciones grupales en este momento
            </p>
            <div
              *ngFor="let conversation of group_conversations | keyvalue"
              class="d-flex flex-row align-items-center list-element m-0 p-2"
              (click)="selectConversation(conversation.value)"
            >
              <div>
                <img
                  src="../assets/images/users/user.png"
                  alt="user"
                  width="27"
                  class="rounded-circle"
                />
              </div>
              <div class="w-100 mx-3">
                <h6 class="font-light">
                  {{ conversation.value.conversation_name }}
                </h6>
              </div>
              <div class="dropdown-divider"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body" *ngIf="!is_creating_conversation">
          <button
            type="button"
            (click)="toggleCreatingConversation()"
            class="btn btn-member"
          >
            Nueva conversación
          </button>
        </div>
        <div *ngIf="is_creating_conversation" class="card-body">
          <h3 class="">Nueva conversación</h3>
          <div class="form-group row mt-3 mb-0">
            <div class="col-md-4">
              <p class="font-light">Nombre de la conversación</p>
            </div>
            <div class="col-md-8">
              <input
                type="text"
                class="form-control"
                id="new_conversation_name"
                placeholder="Nombre de la conversación"
                [(ngModel)]="new_conversation_name"
                pInputText
                required
                style="font-size: 15px"
              />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-4">
              <p class="font-light">Imagen (opcional)</p>
            </div>
            <div class="col-md-8">
              <div class="custom-file">
                <input
                  type="file"
                  class="custom-file-input"
                  id="validatedCustomFile"
                  required
                />
                <div class="invalid-feedback">
                  Example invalid custom file feedback
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 p-0">
            <p class="font-medium">Añadir miembros a la conversación:</p>
          </div>
          <div class="row">
            <div class="mt-2 d-flex justify-content-start gap-2">
              <li
                class="btn btn-member"
                *ngFor="let related_user of related_users"
                (click)="addMemberToNewConversation(related_user)"
              >
                {{ related_user.member_name }}
              </li>
            </div>
          </div>
          <div class="col-md-6 mt-3 p-0">
            <p class="font-medium">
              Miembros añadidos (para remover un miembro haz clic sobre él):
            </p>
          </div>
          <div class="row my-2">
            <div class="d-flex justify-content-start gap-2">
              <li
                class="btn btn-member-selected"
                *ngFor="let conversation_member of new_conversation_members"
                (click)="removeMemberFromConversation(conversation_member)"
              >
                {{ conversation_member.member_name }}
              </li>
            </div>
          </div>
          <div class="dropdown-divider"></div>
          <div>
            <div class="card-body p-0 mt-3 d-flex gap-2">
              <button
                type="button"
                class="btn btn-member"
                (click)="createConversation()"
              >
                Crear conversación
              </button>
              <button
                type="button"
                (click)="toggleCreatingConversation()"
                class="btn btn-member-selected"
              >
                Cancelar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-5">
      <div class="card" *ngIf="selected_conversation">
        <div class="card-body">
          <div
            class="w-100 px-3 d-flex justify-content-between align-items-center"
          >
            <div class="flex-column">
              <h3 class="m-0">Tu conversación con</h3>
              <span style="font-size: 16px">{{
                selected_conversation.is_private
                  ? getPrivateConversationName(
                      selected_conversation.conversation_id
                    )
                  : selected_conversation.conversation_name
              }}</span>
            </div>
            <div class="dropdown" *ngIf="!selected_conversation.is_private">
              <a
                class="pi pi-ellipsis-v dropdown"
                role="button"
                id="dropdownMenuLink"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                type="button"
                id="dropdownMenuButton1"
                style="font-size: 17px; color: #77a6f7"
              >
              </a>
              <ul
                class="dropdown-menu pull-left dropdown-menu-left"
                aria-labelledby="dropdownMenuLink"
              >
                <li>
                  <a
                    class="dropdown-item"
                    (click)="toggleEditingGroupConversationDetails()"
                  >
                    Editar detalles de la conversación
                  </a>
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    (click)="toggleAddingGroupConversationMembers()"
                  >
                    Añadir miembros a la conversación
                  </a>
                </li>
                <li>
                  <a
                    class="dropdown-item danger"
                    (click)="
                      exitGroupConversation(
                        selected_conversation.conversation_id
                      )
                    "
                  >
                    Salirse de la conversación
                  </a>
                </li>
                <li>
                  <a
                    class="dropdown-item danger"
                    (click)="
                      deleteGroupConversation(
                        selected_conversation.conversation_id
                      )
                    "
                    >Eliminar conversación</a
                  >
                </li>
              </ul>
              <p-dialog
                header="Editar los detalles de la conversación"
                [(visible)]="is_editing_group_conversation_details"
              >
                <p-tabView>
                  <div class="comment-widgets scrollable">
                    <div class="mt-2 d-flex align-items-center gap-2">
                      <p class="m-0 w-50 font-text">Nuevo nombre</p>

                      <input
                        type="text"
                        class="form-control w-50"
                        id="edit_conversation_name"
                        [(ngModel)]="edited_conversation_name"
                        pInputText
                        style="font-size: 15px"
                      />
                    </div>
                    <div class="dropdown-divider my-3"></div>
                    <button
                      class="btn btn-member text-white font-text"
                      (click)="
                        editGroupConversationDetails(
                          selected_conversation.conversation_id
                        )
                      "
                    >
                      Efectuar el cambio
                    </button>
                  </div>
                </p-tabView>
              </p-dialog>
              <p-dialog
                header="Añadir miembros a la conversación"
                [(visible)]="is_adding_group_conversation_members"
              >
                <div class="row">
                  <div class="mt-2 d-flex justify-content-start gap-2 py-2">
                    <li
                      class="btn btn-member"
                      *ngFor="
                        let related_user of related_users_not_in_conversation
                      "
                      (click)="addMemberToExistingConversation(related_user)"
                    >
                      {{ related_user.member_name }}
                    </li>
                  </div>
                  <p class="m-0 w-50 font-text">
                    Miembros añadidos (para remover un miembro haz clic sobre
                    él):
                  </p>
                  <div class="mt-2 d-flex justify-content-start gap-2 py-2">
                    <li
                      class="btn btn-member-selected"
                      *ngFor="
                        let conversation_member of conversation_members_to_add
                      "
                      (click)="
                        undoAddingMemberToExistingConversation(
                          conversation_member
                        )
                      "
                    >
                      {{ conversation_member.member_name }}
                    </li>
                  </div>
                </div>
                <div class="dropdown-divider my-3"></div>
                <div class="card-body p-0">
                  <button
                    type="button"
                    class="btn btn-member"
                    (click)="addMembersToExistingConversation()"
                  >
                    Añadir miembros a la conversación
                  </button>
                </div>
              </p-dialog>
            </div>
          </div>
          <div class="dropdown-divider"></div>
          <div class="chat-box scrollable px-4" style="height: 475px">
            <ul class="chat-list">
              <!-- Chat message -->
              <li
                [ngClass]="
                  isNotCurrentUser(message.owner_id)
                    ? 'chat-item mt-2'
                    : 'odd chat-item'
                "
                *ngFor="let message of selected_conversation.messages"
              >
                <div class="chat-content p-0">
                  <h6
                    *ngIf="isNotCurrentUser(message.owner_id)"
                    class="font-medium"
                  >
                    {{ getUserName(message.owner_id) }}
                  </h6>
                  <div
                    [ngClass]="
                      isNotCurrentUser(message.owner_id)
                        ? 'chat-message'
                        : 'chat-message-user '
                    "
                  >
                    {{ message.content }}
                  </div>
                </div>
                <div class="chat-time m-0 font-medium">
                  {{
                    moment(message.created_at, "YYYY/MM/DD HH:mm:ss")
                      .local()
                      .format("HH:mm")
                  }}·
                  <small>
                    {{
                      moment(message.created_at, "YYYY/MM/DD HH:mm:ss")
                        .local()
                        .format("DD/MM/YYYY")
                    }}
                  </small>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="card-body">
          <div class="row d-flex justify-content-center align-items-center">
            <div class="col-lg-10">
              <div class="input-field mt-0 mb-0">
                <textarea
                  [(ngModel)]="current_message"
                  id="textarea1"
                  placeholder="Escribe un mensaje"
                  class="form-control"
                  pInputTextarea
                  (keyup.enter)="sendMessage()"
                ></textarea>
              </div>
            </div>
            <div class="col-lg-2">
              <p-button
                icon="pi pi-send"
                (click)="sendMessage()"
                label="Enviar"
                styleClass="p-button-text w-100"
              ></p-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
