<div class="bg-post bg-gradient h-100 overflow-auto">
  <div class="w-75 mx-auto pt-5">
    <div class="row align-self-center align-content-center justify-content-center">
      <div class="col-md-8 ">
        <div class="card">
          <form
            [formGroup]="post_form"
            (ngSubmit)="onSubmit($event)"
            class="form-horizontal"
          >
            <div class="card-body posts-card">
              <h3 class="title card-title">Editar Publicación</h3>
              <div class="row">
                <div class="col-xs-12">
                  <button
                    pButton
                    pRipple
                    type="submit"
                    class="p-button-outlined p-button-rounded post-button p-1"
                    icon="pi pi-envelope"
                    [disabled]="post_form.invalid || !post_form.touched"
                    label="Guardar Publicacion"
                  >
                  </button>
                  <button
                    pButton
                    pRipple
                    type="button"
                    icon="pi pi-times"
                    class="p-button-outlined p-button-rounded p-1"
                    [style]="{ 'margin-left': '.2em' }"
                    (click)="onCancel()"
                    label="Cancelar"
                  >
                  </button>
                  <select
                    class="select2 form-select shadow-none float-end w-50"
                    id="privacy"
                    formControlName="privacy"
                  >
                    <option value="" disabled>Privacidad</option>
                    <option value="public">Pública</option>
                    <option value="private">
                      Privada (sólo tus seguidores podrán verla)
                    </option>
                  </select>
                  <textarea
                    pInputTextarea
                    type="text"
                    class="form-control p-2"
                    formControlName="description"
                    placeholder="Descripcion general de tu post!"
                    rows="2"
                  >
                  </textarea>
                </div>
              </div>
              <hr/>
              <div class="form-group-row">
                <div class="col-xs-12" formArrayName="content_element">
                  <div
                    class="row"
                    *ngFor="let contentCtrl of controls; let i = index"
                    [formGroupName]="i"
                    style="margin-bottom: 10px"
                  >
                    <div class="d-flex justify-content-center gap-1 my-1">
                      <textarea
                        pInputTextarea
                        type="text"
                        class="form-control p-2"
                        formControlName="description"
                        placeholder="Describe tu contenido!"
                        rows="1"
                      >
                      </textarea>
                      <p-button
                        icon="pi pi-camera"
                        styleClass="p-button-outlined"
                        pTooltip="Sube una imagen o video"
                        tooltipPosition="top"
                        (click)="uploader.click()"
                      >
                        <label for="media_resource"></label>
                        <input
                          type="file"
                          class="custom-file-input"
                          hidden
                          #uploader
                          id="media_resource"
                          accept="image/png, image/jpeg, video/*"
                          (change)="handleFileInput($event)"
                        />
                      </p-button>
                      <div class="text-end">
                        <button
                          pButton
                          pRipple
                          type="button"
                          icon="pi pi-times"
                          class="p-button-outlined p-button-rounded p-button-primary p-2"
                          *ngIf="i !== 0"
                          (click)="onDeleteContent(i)"
                        >
                        </button>
                      </div>
                    </div>
                    <div *ngIf="loaded_media && this.postContentElement[i]" >
                      <div
                        class="p-1 row justify-content-center"
                        *ngIf="this.postContentElement[i].media_type.includes('image')"
                      >
                        <img [src]="this.postContentElement[i].media_locator || this.post.content_element[i].media_locator" class="img-fluid" />
                      </div>
                      <div
                        class="p-1 row justify-content-center"
                        *ngIf="this.postContentElement[i].media_type.includes('video')"
                      >
                        <video controls>
                          <source [src]="this.postContentElement[i].media_locator || this.post.content_element[i].media_locator" />
                          Your browser does not support the video tag.
                        </video>
                      </div>
                    </div>
                    <hr/>
                  </div>
                  <div *ngIf="requireOne" class="text-danger p-2">
                    No puedes crear publicaciones sin contenido!
                  </div>
                  <div *ngIf="mediaIncomplete" class="text-danger p-2">
                    Si quieres poner una imagen o video, debes subirlo !
                  </div>
                  <div class="row">
                    <div class="col-xs-12 text-end">
                      <button
                        pButton
                        pRipple
                        type="button"
                        icon="pi pi-plus"
                        class="p-button-outlined p-button-rounded p-button-primary p-2"
                        label="Agregar contenido"
                        (click)="onAddContent()"
                      >
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

