<div class="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <img
              [src]="group.picture"
              class="rounded img-fluid mx-auto d-block"
              style="height: 35vmax; width: 100%"
              alt="..."
            />
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="only_owner_error">
      <div
        class="
          alert alert-danger
          d-flex
          justify-content-center
          align-items-center
        "
        role="alert"
      >
        <h4 class="alert-heading m-2">Unico administrador</h4>
        <p class="m-2">
          Eres el único administrador del grupo, así que te recomendamos no
          abandonarlo. Si aun así quieres irte, puedes eliminar el grupo en la
          ventana de administración
        </p>
        <button class="btn btn-danger m-2" (click)="onCloseError()">
          cerrar
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-9">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">{{ group.name }}</h3>
            <p>
              {{ group.description }}
            </p>
          </div>
        </div>
      </div>
      <div class="col-3" *ngIf="group.isMember">
        <div class="card">
          <div class="card-body">
            <button
              type="button"
              class="btn btn-primary m-1"
              (click)="showGroupUsers()"
            >
              Usuarios
            </button>
            <p-dialog
              header="Usuarios del grupo"
              [(visible)]="display"
              [modal]="true"
            >
              <div class="comment-widgets scrollable">
                <div
                  *ngFor="let user of users; let i = index"
                  class="d-flex flex-row comment-row mt-0"
                >
                  <div class="comment-text w-100">
                    <h6 class="font-medium">{{ user.user_name }}</h6>
                    <span class="mb-3 d-block">{{ user.user_email }} </span>
                  </div>
                  <p-confirmPopup></p-confirmPopup>
                  <button
                    *ngIf="isOwnerAndNotSelf(user.user_id)"
                    type="button"
                    (click)="onRemoveUser($event, user.user_id, i)"
                    class="btn btn-outline-danger m-1"
                  >
                    Remover usuario
                  </button>
                </div>
              </div>
            </p-dialog>
            <a
              class="btn btn-info m-1"
              *ngIf="group.isOwner"
              [routerLink]="['admin']"
            >
              Administrar grupo
            </a>
            <p-confirmPopup></p-confirmPopup>
            <button
              type="button"
              class="btn btn-danger m-1"
              (click)="onLeaveGroup($event)"
            >
              Abandonar grupo
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- ============================================================== -->
    <!-- Sales chart -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Recent comment and chats -->
    <!-- ============================================================== -->
    <div class="row" *ngIf="group.isMember">
      <!-- column -->
      <div class="col-lg-12">
        <div class="mx-auto pt-2">
          <div class="row">
            <div class="col-md-10 w-75 mx-auto">
              <div class="card">
                <div class="card-body">
                  <h3 class="card-title">Publicaciones</h3>
                    <a
                      (click)="this.display_create = !this.display_create"
                      href="javascript:void(0)"
                      class="
                        btn
                        btn-info
                        waves-effect waves-light
                      "
                    >
                      <i class="mdi mdi-plus fs-4 me-1"></i> Crear publicacion
                    </a>
                    <p-dialog
                      header="Crea una publicacion"
                      [style]="{ width: '80vw', 'min-width': '300px' }"
                      [(visible)]="display_create"
                      [modal]="true"
                    >
                      <app-posts-create [group_id]="group.id"
                        (toggleCreate)="onToggleCreate($event)"
                      ></app-posts-create>
                    </p-dialog>
                  <hr />
                  <div *ngFor="let post of posts; let i=index">
                    <app-post [post]="post" [editable]="group.isOwner" [group_id]="group.id" [id]="i.toString()" (toggleDelete)="onDeletePost($event)"> </app-post>
                    <hr />
                  </div>
                  <div *ngIf="posts.length < 1">
                    <div class="alert alert-warning" role="alert">
                      <h4 class="alert-heading">No hay publicaciones</h4>
                      <h5>
                        Parece que no existen publicaciones en este grupo. Intenta crear una!
                      </h5>
                      <hr />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    

    <!-- ============================================================== -->
    <!-- Recent comment and chats -->
    <!-- ============================================================== -->
    <div class="row" *ngIf="!group.isMember">
      <div class="col-12 text-center">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              Si deseas ver el contenido del grupo debes unirte a este.
            </h5>
            <h5 class="card-title">Solicita unirte!</h5>
            <button
              type="button"
              *ngIf="!group.existsRequest"
              (click)="joinGroup()"
              class="btn btn-block btn-info btn-sm text-white"
            >
              Unirse al grupo
            </button>
            <button
              type="button"
              *ngIf="group.existsRequest"
              (click)="cancelGroupRequest()"
              class="btn btn-block btn-danger btn-sm text-white"
            >
              Cancelar solicitud
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
