.bg-group {
  background-color: var(--app-main-bg-color);
}
.bg-modal{
  background-color: var(--app-primary-color);
}

.btn.btn-a {
  width: 20% !important;
  background-color: transparent;
  border-color: var(--app-secondary-color) !important;
  color: var(--app-secondary-color) !important
}

