<p-galleria
  [value]="images"
  [responsiveOptions]="responsiveOptions"
  [containerStyle]="{ 'max-width': '640px' }"
  [numVisible]="4"
  class="gallery-element"
>
  <ng-template pTemplate="item" let-item>
    <img
      [src]="item.reference"
      style="width: 100%; display: block"
      *ngIf="validatePostTime(item)"
     alt="item"/>
  </ng-template>
  <ng-template pTemplate="thumbnail" let-item>
    <div
      class="p-grid p-nogutter p-justify-center"
      *ngIf="validatePostTime(item)"
    >
      <img
        [src]="item.reference"
        style="display: block; overflow: hidden;"
        width="80px"
      />
    </div>
  </ng-template>
  <ng-template pTemplate="caption" let-item>
    <span *ngIf="validatePostTime(item) && item.description">{{
      item.description
    }}</span>
    <br />
    <small *ngIf="validatePostTime(item)"
      >Publicada el {{ getPostTime(item.created_at) }}</small
    >
  </ng-template>
</p-galleria>
