.my-navbar {
  background-color: #77a6f7;
}
span.app-title {
  font-size: 1.6em;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}
.navbar-element {
  font-size: 1em;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.noti-feed {
  background-color: #f2f8ff !important; 
}

ul.dropdown-menu {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 0.3em;
  margin: 0;
  padding: 0;
}
.dropdown-item {
  color: #3f3f46;
  font-size: 1em;
  font-weight: 400;
  border-radius: 0.3em;
  font-family: "Poppins", sans-serif;
}
.dropdown-item:hover,
.dropdown-item:focus {
  background-color: #f2f8ff;
  font-size: 1em;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #3f3f46;
}

.feed-card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border-radius: 10px;
}

