<div class="h-100 bg-profile">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-5">
      <div class="box">
        <p-card
          header="Tu perfil de usuario"
          subheader="A continuación te invitamos a ingresar la información de tu perfil "
          styleClass="profile-card"
        >
          <form (ngSubmit)="saveProfile($event)">
            <div class="p-fluid">
              <label for="resumeInput" class="profile-element"
                >Cuentanos un poco de ti 👐🏻</label
              >
              <br />
              <textarea
                rows="3"
                cols="30"
                pInputTextarea
                [(ngModel)]="resume"
                name="resume"
                required
                id="resumeInput"
              ></textarea>
              <br />
            </div>

            <div class="p-fluid">
              <label for="knowledgeInput" class="profile-element"
                >Ingresa tus conocimientos 📚</label
              >
              <br />
              <p-chips
                [(ngModel)]="knowledge"
                separator=","
                placeholder="Ingresa tus conocimientos"
                id="knowledgeInput"
                styleClass="p-inputtext-sm"
                name="knowledge"
                required
              ></p-chips>
              <br />
            </div>
            <div class="p-fluid">
              <label for="talentsInput" class="profile-element"
                >Ingresa tus talentos 🤖</label
              >
              <br />
              <p-chips
                [(ngModel)]="talents"
                separator=","
                placeholder="Ingresa tus talentos"
                id="talentsInput"
                styleClass="p-inputtext-sm profile-element"
                name="talents"
                required
              ></p-chips>
              <br />
            </div>

            <div class="p-fluid">
              <label for="activitiesInput" class="profile-element"
                >Ingresa tus actividades ⛹🏻‍♂️</label
              >
              <br />
              <p-chips
                [(ngModel)]="activities"
                separator=","
                placeholder="Ingresa tus actividades"
                id="activitiesInput"
                styleClass="p-inputtext-sm"
                name="activities"
                required
              ></p-chips>
              <br />
            </div>

            <div class="p-fluid">
              <label for="interestsInput" class="profile-element"
                >Ingresa tus intereses 💭</label
              >
              <br />
              <p-chips
                [(ngModel)]="interests"
                separator=","
                placeholder="Ingresa tus intereses"
                id="interestsInput"
                styleClass="p-inputtext-sm"
                name="interests"
                required
              ></p-chips>
            </div>

            <div class="row center-xs">
              <div class="col-lg-8">
                <div class="box">
                  <button
                    pButton
                    pRipple
                    type="button"
                    label="Editar perfil"
                    class="p-button-outlined p-button-rounded profile-button"
                    icon="pi pi-user-edit"
                    *ngIf="profileExists; else notShow"
                    type="submit"
                  ></button>

                  <ng-template #notShow>
                    <button
                      pButton
                      pRipple
                      type="button"
                      label="Crear perfil"
                      class="p-button-outlined p-button-rounded profile-button"
                      icon="pi pi-user-plus"
                      type="submit"
                    ></button>
                  </ng-template>

                  <button
                    pButton
                    pRipple
                    type="button"
                    label="Cancelar"
                    icon="pi pi-times"
                    class="p-button-outlined p-button-rounded p-button-secondary"
                    [style]="{ 'margin-left': '.5em' }"
                    (click)="cancel()"
                  ></button>
                </div>
              </div>
            </div>
          </form>
        </p-card>
      </div>
    </div>
  </div>
</div>
