<div class="pt-5">
  <div class="stories-card card overflow-auto">
    <div class="card-body">
      <h2 class="card-title">Historias de tus amigos</h2>
      <div class="dropdown-divider"></div>
      <div class="row mt-4">
        <div class="col-sm-8 col-md-4 col-lg-2 my-story-card p-3">
          <div class="flex align-items-center">
            <p>Hola!, esta es tu historia</p>
            <div class="row">
              <div class="col-12 p-1">
                <button
                  pButton
                  pRipple
                  label="Agregar"
                  icon="pi pi-plus"
                  iconPos="left"
                  class="p-button-sm button-add w-100"
                  (click)="showModalDialogAddStory()"
                ></button>
              </div>
              <div class="col-12 p-1">
                <button
                  pButton
                  pRipple
                  type="button"
                  label="Ver mi historia"
                  class="p-button-outlined p-button-secondary p-button-sm w-100"
                  *ngIf="userStories.length > 0"
                  (click)="showModalDialog()"
                ></button>
              </div>
            </div>
            <div class="dropdown-divider"></div>
          </div>
        </div>
        <div *ngFor="let user_stories of following_users_stories" class="col-sm-5 col-md-4 col-lg-2">
          <skl-story [storyElements]="user_stories.stories"></skl-story>
        </div>
        <p-dialog
          header="Agrega una historia"
          [(visible)]="displayModalAddStory"
          [modal]="true"
          [style]="{ width: '30vw' }"
          [draggable]="false"
          [resizable]="false"
        >
          <div class="card story-font">
            <div class="p-grid p-fluid">
              <div class="p-field p-col-12">
                <label for="description">Descripción de tu historia</label>
                <br/>
                <input
                  id="description"
                  type="text"
                  aria-describedby="description"
                  pInputText
                  [(ngModel)]="description"
                />
                <br/>
                <small id="username1-help"
                >Breve descripcion de lo que vas a publicar</small
                >
              </div>
              <br/>
              <div class="p-field p-col-6">
                <label for="reference">Referencia del recurso</label>
                <br/>
                <input
                  id="reference"
                  type="text"
                  aria-describedby="reference"
                  pInputText
                  [(ngModel)]="reference"
                />
                <br/>
                <small id="username1-help">Por ahora solo imagenes :) </small>
              </div>
              <br/>
              <div class="p-field p-col-6">
                <label for="referenceType">Tipo de referencia</label>
                <br/>
                <input
                  id="referenceType"
                  type="text"
                  aria-describedby="referenceType"
                  pInputText
                  [(ngModel)]="referenceType"
                />
                <br/>
                <small id="username1-help">jpg o jpeg</small>
              </div>
            </div>
          </div>

          <ng-template pTemplate="footer">
            <p-button
              icon="pi pi-send"
              (click)="sendStory()"
              label="Enviar"
              styleClass="p-button-text"
              [disabled]="!isValidStoryData()"
            ></p-button>
          </ng-template>
        </p-dialog>

        <p-dialog
          header="Tus historias"
          [(visible)]="displayModal"
          [modal]="true"
          [style]="{ width: '30vw' }"
          [draggable]="false"
          [resizable]="false"
        >
          <div class="card story-font">
            <ul class="list-style-none">
              <li
                class="d-flex no-block card-body"
                *ngFor="let story of userStories"
              >
                <p-image
                  src="{{ story.reference }}"
                  alt="Image"
                  width="100"
                  height="100"
                  class="p-2"
                ></p-image>
                <!-- <i class="mdi mdi-check-circle fs-4 w-30px mt-1"></i> -->
                <div class="align-self-center">
                  <p class="mb-0 font-medium p-0">Tu historia</p>
                  <span class="text-muted"
                  >Publicada el {{ getFormattedDate(story.created_at) }}</span
                  >
                </div>
                <div class="ms-auto align-self-center">
                  <div class="tetx-right">
                    <button
                      pButton
                      pRipple
                      type="button"
                      icon="pi pi-times"
                      class="p-button-sm p-button-rounded p-button-outlined"
                      (click)="deleteStory(story.id)"
                    ></button>
                  </div>
                </div>
              </li>
            </ul>
          </div>

          <ng-template pTemplate="footer">
            <p-button
              icon="pi pi-check"
              (click)="displayModal = false"
              label="Cerrar"
              styleClass="p-button-text"
            ></p-button>
          </ng-template>
        </p-dialog>
      </div>
    </div>
  </div>
</div>
