.bg-group {
  background: var(--app-main-bg-color);
}

.title {
  color: var(--app-primary-color);
}

.btn{
  background-color: var(--app-secondary-color) !important;
  border-color: var(--app-secondary-color) !important;
  color: white  !important
}
