<div class="container p-md-4">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <form [formGroup]="eventForm" (ngSubmit)="onSubmit($event)">
                    <div class="card-body">
                        <h3 class="card-title">Evento</h3>
                        <hr />
                        <div class="row mb-md-2">
                            <div class="col-md-7">
                                <div class="row m-4">
                                    <div class="title">
                                        <h6>Nombre del evento</h6>
                                    </div>
                                    <input style="width: 100%;" id="float-input" type="text" formControlName="name" pInputText>
                                    <div class="error mt-md-2">
                                        <p *ngIf="invalidInput('name')">El nombre es obligatorio.</p>
                                    </div>
                                </div>
                                <div class="row m-4">
                                    <div class="title">
                                        <h6>Descripción del evento</h6>
                                    </div>
                                    <textarea id="float-input" rows="2" cols="52" formControlName="description" pInputTextarea></textarea>
                                    <div class="error mt-md-2">
                                        <p *ngIf="invalidInput('description')">La descripción es obligatoria.</p>
                                    </div>
                                </div>
                                <div class="row m-4">
                                    <div class="title">
                                        <h6>Fecha del evento</h6>
                                    </div>
                                    <p-calendar formControlName="date" [touchUI]="true" [showIcon]="true" hourFormat="12" [yearNavigator]="true" dateFormat="dd/mm/yy" [showTime]="true" yearRange="1930:2022" [readonlyInput]="true"></p-calendar>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div id="map" style="width: 100%; height: 100%;"></div>
                            </div>
                        </div>
                        <hr/>
                        <div class="row">
                            <div class="col text-center">
                                <button type="submit" label="Guardar Evento" [disabled]="eventForm.invalid || !eventForm.touched" pButton></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>