<div class="row">
  <div class="col-md-6">
    <div class="card">
      <form class="form-horizontal">
        <div class="card-body">
          <h4 class="card-title">Busqueda de grupos</h4>
          <div class="form-group row">
            <label
              for="fname"
              class="col-sm-3 text-end control-label col-form-label"
              >Nombre de grupo</label
            >
            <div class="col-sm-9">
              <input
                type="text"
                class="form-control"
                id="fname"
                placeholder="ingresa nombre de grupo y presiona enter"
                #groupName
                (keyup.enter)="searchGroup(groupName.value)"
              />
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <h4 class="card-title">Categorias</h4>
    <!-- Column -->
    <div class="btn col-lg-4 rounded" *ngFor="let category of categories">
      <div class="card card-hover">
        <div
          class="box text-center"
          [ngClass]="category.color"
          (click)="searchGroups(category.value)"
        >
          <h1 class="font-light text-white">
            <i class="mdi" [ngClass]="category.img"></i>
          </h1>
          <h6 class="text-white">{{ category.name }}</h6>
        </div>
      </div>
    </div>
    <!-- Column -->
  </div>
</div>
<div class="container-fluid">
  <div class="row el-element-overlay justify-content-center">
    <div class="col-lg-4" *ngFor="let group of groups">
      <div class="card page-wrapper" [style]="{ height: '90%' }">
        <div class="el-card-item">
          <div class="el-card-avatar el-overlay-1">
            <img
              [src]="group.picture"
              alt="user"
              class="img-fluid img-thumbnail"
            />
            <div class="el-overlay">
              <ul class="list-style-none el-info">
                <li class="el-item">
                  <a
                    class="
                      btn
                      default
                      btn-outline
                      image-popup-vertical-fit
                      el-link
                      text-white text-lowercase
                    "
                    (click)="getGroup(group.id)"
                    >Ver grupo</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="el-card-content">
            <h4 class="mb-0">{{ group.name }}</h4>
            <span class="text-muted p-1">{{
              group.description.length > 100
                ? (group.description | slice: 0:100) + "..."
                : group.description
            }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="no_groups">
    <div class="alert alert-danger" role="alert">
      <h3 class="alert-heading">Ups!</h3>
      <h5>
        Parece que no hay grupos para esta categoria o nombre. Intenta crear uno
        o buscar otros grupos.
      </h5>
      <hr />
    </div>
  </div>
</div>
