<div class="card">
    <div class="card-body">
        <h5 class="card-title mb-0">Solicitudes de Seguidores</h5>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Email</th>
                <th scope="col">Nombre</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of pendingSentUsers; let i = index">
                <td>{{user.email}}</td>
                <td class="text-info">{{user.name}}</td>
                <td>
                    <button (click)="acceptFollowRequest(user,i)" data-toggle="tooltip" data-placement="top" title="" data-bs-original-title="Update">
                        <i class="mdi mdi-check"></i>
                    </button>
                    <button (click)="rejectFollowRequest(user,i)" data-toggle="tooltip" data-placement="top" title="" data-bs-original-title="Delete">
                        <i class="mdi mdi-close"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>