<div class="post-card p-4 align-self-center">
  <div class="d-flex text-post">
    <div class="d-flex flex-fill">
      <div class="p-2">
        <img
          src="../../../../../assets/images/users/user.png"
          alt="user"
          width="35"
          class="rounded-circle"
        />
      </div>
      <div class="align-self-center">
        <h5 class="font-medium">{{ post.owner_id }}</h5>
      </div>
    </div>
    <div class="d-flex">
      <p class="font-light small px-3 my-auto">
        <small>Publicado el </small>
        {{ post.created_at }}
      </p>
      <div class="dropdown" *ngIf="editable || owns_post">
        <a
          class="mdi mdi-settings fs-2 dropdown"
          role="button"
          id="dropdownMenuLink"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          type="button"
          id="dropdownMenuButton1"
        >
        </a>
        <ul
          class="dropdown-menu pull-left dropdown-menu-left"
          aria-labelledby="dropdownMenuLink"
        >
          <li>
            <a
              *ngIf="owns_post"
              class="dropdown-item"
              (click)="updatePost(post.id)"
              >Editar</a
            >
          </li>
          <li>
            <a
              *ngIf="owns_post || editable"
              class="dropdown-item"
              (click)="deletePost(post.id)"
              >Eliminar</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <h6 class="font-light pb-2 text-post">{{ post.description }}</h6>
  <div *ngFor="let content_element of post.content_element" class="m-2">
    <div class="comment-text w-100">
      <h6 class="font-light pb-2 text-post">
        {{ content_element.description }}
      </h6>
      <div class="pb-3 row justify-content-center">
        <div>
          <img [src]="content_element.media_locator" class="img-fluid" />
        </div>
        <div>
          <!--          <video controls>-->
          <!--            <source [src]="content_element.media_locator" type="video/mp4" />-->
          <!--          </video>-->
        </div>
      </div>
    </div>
  </div>
  <div class="dropdown-divider"></div>

  <!-- <div
    class="container flex w-100 my-1 align-items-center gap-2"
    style="height: 46px"
  >
    <div class="like">
      <p-button
        icon="pi pi-thumbs-up"
        label="Like"
        styleClass="p-button-text"
        (click)="onAddReaction(reactionTypes[0], post.id)"
      ></p-button>
    </div>
  </div> -->
  <div class="dropdown-divider"></div>
  <div class="d-flex justify-content-start gap-3 my-4" style="height: 30px">
    <p-button
      icon="pi pi-send"
      label="Compartir"
      styleClass="p-button-outlined"
      (click)="sharePost(post.id)"
    ></p-button>
    <p-button
      icon="pi pi-comment"
      label="Comentar"
      styleClass="p-button-outlined"
      (click)="handleShowComments()"
    ></p-button>
  </div>
  <div class="container-fluid" *ngIf="showComments">
    <div class="row">
      <div class="col-auto">
        <img
          src="src/assets/images/users/d4.jpg"
          alt="user"
          width="30"
          class="rounded-circle"
        />
      </div>

      <div class="col-10">
        <div
          class="d-flex justify-content-center gap-1 my-1"
          style="height: 30px"
        >
          <input
            type="text"
            class="form-control w-80"
            id="description"
            placeholder="Escribe un comentario ..."
            pInputText
            style="font-size: 13px"
            [(ngModel)]="comment"
            (keyup.enter)="sendComment()"
          />
          <p-button
            icon="pi pi-camera"
            styleClass="p-button-outlined"
            pTooltip="Sube una imagen o video"
            tooltipPosition="top"
            (click)="uploader.click()"
          >
            <label for="media_resource"></label>
            <input
              type="file"
              class="custom-file-input"
              hidden
              #uploader
              id="media_resource"
              accept="image/png, image/jpeg"
              (change)="handleFileInput($event)"
            />
          </p-button>
          <p-button
            icon="pi pi-send"
            styleClass="p-button-outlined"
            pTooltip="Enviar comentario"
            tooltipPosition="top"
            (click)="sendComment()"
          >
          </p-button>
        </div>
        <div *ngIf="invalid_comment_content" class="text-danger">
          No puedes crear comentarios sin contenido
        </div>
      </div>
      <div class="row card-body text-post">
        <div class="flex">
          <small
            *ngIf="postComments.length === 0"
            class="font-bold"
            style="font-size: 13px"
          >
            No hay comentarios
          </small>

          <small
            *ngIf="page > 0"
            class="text-muted clickable"
            (click)="resetComments()"
          >
            Inicio
          </small>
        </div>
        <div *ngIf="postComments.length > 0">
          <app-comment
            *ngFor="let comment of postComments; let i = index"
            [comment]="comment"
            [index]="i"
            (deleted_comment)="onDeletedComment($event)"
          >
          </app-comment>
          <span
            *ngIf="postComments.length > 0"
            class="clickable m-2"
            (click)="handleMoreComments()"
            style="font-size: 13px"
            >Ver más comentarios</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
