<div class="bg-account h-100">
  <div class="row d-flex no-block justify-content-center pt-5">
    <div class="col-5">
      <skl-account-details *ngIf="user_account_details" [data]="user_account_details"></skl-account-details>
    </div>
    <div class="col-5">
      <skl-user-roles-settings></skl-user-roles-settings>
    </div>
  </div>
  <div class="row d-flex no-block justify-content-center pt-5">
    <div class="col-5 mb-5">
      <skl-two-factor-auth-settings
        *ngIf="user_account_details"
        [data]="user_account_details"
      ></skl-two-factor-auth-settings>
    </div>
  </div>
</div>
