.clickable:hover {
  cursor: pointer;
  text-decoration: underline;
}

.text-post {
  font-family: "Poppins", sans-serif;
}

.post-card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border-radius: 10px;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "like interest haha reactions"
    ". . . ."
    ". . . .";
  justify-items: center;
  height: 30px;
}

.like {
  grid-area: like;
  width: 100%;
}

.interest {
  grid-area: interest;
}

.haha {
  grid-area: haha;
}

.reactions {
  grid-area: reactions;
}
:host ::ng-deep .p-button.p-button-text {
  width: 100%;
  height: 70%;
  background-color: transparent;
  color: #00887a;
  border-color: transparent;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
}

:host ::ng-deep .p-button.p-button-text:hover {
  background: rgba(70, 229, 176, 0.08);
  color: #00887a;
  border-color: transparent;
}

:host ::ng-deep .p-button.p-button-text:focus {
  box-shadow: 0 0 0 0;
}

:host ::ng-deep .p-button.p-button-outlined {
  width: 100%;
  height: 70%;
  background-color: transparent;
  color: #00887a;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  padding: 15px;
}

:host ::ng-deep .p-button.p-button-outlined:hover {
  background: rgba(70, 229, 176, 0.08);
  color: #00887a;
}
:host ::ng-deep .p-button.p-button-outlined:focus {
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #00887a, 0 1px 2px 0 rgba(0, 0, 0, 0);
}
.reaction-item:hover {
  background: #f2f8ff;
  border-radius: 9px;
  cursor: pointer;
}
