<div class="post-card w-100 p-4 align-self-center">
  <div class="d-flex text-post">
    <div class="d-flex flex-fill">
      <div class="p-2">
        <!-- <img
        src="../assets/images/users/1.jpg"
        alt="user"
        width="30"
        class="rounded-circle"
      /> -->
      </div>
      <div class="align-self-center">
        <h5 class="font-medium">{{ post.user_id }}</h5>
      </div>
    </div>
    <div class="d-flex">
      <p class="font-light small my-auto">
        <small>Publicado el </small>
        {{ post.created_at }}
      </p>
      <div class="dropdown" *ngIf="editable || owns_post">
        <a
          class="mdi mdi-settings fs-2 dropdown"
          role="button"
          id="dropdownMenuLink"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          type="button"
          id="dropdownMenuButton1"
        >
        </a>
        <ul
          class="dropdown-menu pull-left dropdown-menu-left"
          aria-labelledby="dropdownMenuLink"
        >
          <li>
            <a
              *ngIf="owns_post"
              class="dropdown-item"
              (click)="updatePost(post.post_id)"
              >Editar</a
            >
          </li>
          <li>
            <a
              *ngIf="owns_post || editable"
              class="dropdown-item"
              (click)="deletePost(post.post_id)"
              >Eliminar</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div *ngFor="let content of post.content" class="m-2">
    <div class="comment-text w-100">
      <h6 class="font-light pb-2 text-post">{{ content.description }}</h6>
      <div class="pb-3 row justify-content-center">
        <div *ngIf="isImage(content.reference_type)">
          <img [src]="content.reference" class="img-fluid" />
        </div>
        <div *ngIf="!isImage(content.reference_type) && content.reference_type">
          <video controls>
            <source [src]="content.reference" type="video/mp4" />
          </video>
        </div>
      </div>
    </div>
  </div>
  <div class="dropdown-divider"></div>

  <div class="container w-100">
    <div class="like">
      <p-button
        icon="pi pi-thumbs-up"
        label="Like"
        styleClass="p-button-text"
        (click)="onAddReaction(reactionTypes[0], post.post_id)"
      ></p-button>
    </div>
    <div class="interest">
      <p-button
        icon="pi pi-bookmark"
        label="Me interesa"
        styleClass="p-button-text"
        (click)="onAddReaction(reactionTypes[2], post.post_id)"
      ></p-button>
    </div>
    <div class="haha">
      <p-button
        icon="pi pi-heart"
        label="Me divierte"
        styleClass="p-button-text"
        (click)="onAddReaction(reactionTypes[1], post.post_id)"
      ></p-button>
    </div>

    <div class="reactions">
      <p-button
        icon="pi pi-info-circle"
        label="{{ reactionCount }} Reacciones"
        styleClass="p-button-text"
        (click)="queryReactions()"
      ></p-button>
    </div>
  </div>

  <div>
    <p-dialog header="Reacciones" [(visible)]="display">
      <p-tabView>
        <p-tabPanel header="Me gusta">
          <div class="comment-widgets scrollable">
            <div
              *ngFor="let reactor of reactors['likes'].reactors"
              class="d-flex flex-row comment-row mt-0 reaction-item"
            >
              <div class="comment-text w-100">
                <h6 class="font-medium">{{ reactor.name }}</h6>
                <span class="d-block">{{ reactor.email }} </span>
              </div>
            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Me interesa">
          <div class="comment-widgets scrollable">
            <div
              *ngFor="let reactor of reactors['interested'].reactors"
              class="d-flex flex-row comment-row mt-0 reaction-item" 
            >
              <div class="comment-text w-100">
                <h6 class="font-medium">{{ reactor.name }}</h6>
                <span class="d-block">{{ reactor.email }} </span>
              </div>
            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel header="haha">
          <div class="comment-widgets scrollable">
            <div
              *ngFor="let reactor of reactors['fun'].reactors"
              class="d-flex flex-row comment-row mt-0 reaction-item"
            >
              <div class="comment-text w-100 ">
                <h6 class="font-medium">{{ reactor.name }}</h6>
                <span class="d-block">{{ reactor.email }} </span>
              </div>
            </div>
          </div>
        </p-tabPanel>
      </p-tabView>
    </p-dialog>
  </div>
  <div class="dropdown-divider"></div>
  <div class="d-flex justify-content-start gap-3 my-4" style="height: 30px">
    <p-button
      icon="pi pi-send"
      label="Compartir"
      styleClass="p-button-outlined"
      (click)="sharePost(post.post_id)"
    ></p-button>
    <p-button
      icon="pi pi-comment"
      label="Comentar"
      styleClass="p-button-outlined"
      (click)="handleShowComments()"
    ></p-button>
  </div>
  <div class="container-fluid" *ngIf="showComments">
    <div class="row">
      <div class="col-auto">
        <img
          src="../assets/images/users/d4.jpg"
          alt="user"
          width="30"
          class="rounded-circle"
        />
      </div>
      <div class="col-10">
        <input
          type="text"
          class="form-control w-100"
          id="fname"
          placeholder="Escribe un comentario ..."
          pInputText
          style="font-size: 13px"
          [(ngModel)]="comment"
          (keyup.enter)="sendComment()"
        />
      </div>
    </div>
    <div class="row card-body text-post">
      <div class="flex">
        <small
          *ngIf="postComments.length === 0; else elseBlock"
          class="font-bold"
          style="font-size: 13px"
        >
          No hay comentarios
        </small>

        <small
          *ngIf="page > 0"
          class="clickable"
          class="text-muted clickable"
          (click)="resetComments()"
          >Anterior</small
        >
      </div>

      <ng-template #elseBlock>
        <app-comment *ngFor="let comment of postComments" [comment]="comment">
        </app-comment>
        <span
          class="clickable m-2 "
          (click)="handleMoreComments()"
          style="font-size: 13px"
          >Ver más respuestas</span
        >
      </ng-template>
    </div>
  </div>
</div>
