/* You can add global styles to this file, and also import other style files */

:root {
    --app-primary-color: #77A6F7;
    --app-main-bg-color: #f2f8ff;
    --app-secondary-color: #00887A;
    --app-alternative-color: #fc6662;
    font-family: "Poppins", sans-serif !important;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif !important;
    background-color: var(--app-main-bg-color);
}

.card {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    border-radius: 10px;
}

.p-calendar {
    width: 100% !important;
}

.p-calendar.p-calendar-w-btn .p-datepicker-trigger {
    background-color: var(--app-primary-color) !important;
    border-color: var(--app-primary-color) !important;
}