/* You can add global styles to this file, and also import other style files */

:root {
    --app-primary-color: #77A6F7;
    --app-main-bg-color: #f2f8ff;
    --app-secondary-color: #00887A;
    --app-alternative-color: #fc6662;
    font-family: "Poppins", sans-serif !important;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif !important;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    border-radius: 10px;
}

.p-inputtext:enabled:focus {
    border-color: var(--app-secondary-color) !important;
    box-shadow: 0 0 0 0.02rem var(--app-secondary-color) !important;
}

.p-inputtext:hover {
    box-shadow: 0 0 0 0.02rem var(--app-secondary-color) !important;
}

.p-inputtext.ng-dirty.ng-invalid,
.p-inputtext.ng-touched.ng-invalid {
    border-color: var(--app-alternative-color) !important;
}

.p-float-label>.ng-invalid.ng-dirty+label,
.p-float-label>.ng-invalid.ng-touched+label {
    color: var(--app-alternative-color) !important;
}

.p-button {
    width: 100% !important;
    background-color: var(--app-secondary-color) !important;
}

.p-calendar {
    width: 100% !important;
}

.p-calendar.p-calendar-w-btn .p-inputtext {
    order: 2 !important;
    border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-color: black !important;
    background-color: black;
}

.p-calendar.p-calendar-w-btn .p-datepicker-trigger {
    order: 1 !important;
    border-top-left-radius: 3px !important;
    border-bottom-left-radius: 3px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-color: black !important;
    background-color: black !important;
    width: 100% !important;
    color: white !important;
}