<div class="box">
  <p-card
    *ngIf="service_requests.length > 0"
    header="Tus ofertas de servicios"
    subheader="A continuación te mostramos tu lista de servicios requeridos"
    styleClass="card"
  >
    <div
      *ngFor="let service_request of service_requests"
      class="row d-flex justify-content-center"
    >
      <app-service-request
        [input_service_request]="service_request"
      >
      </app-service-request>
      <div class="dropdown-divider"></div>
    </div>

  </p-card>
  <p-card
    *ngIf="service_requests.length === 0"
    header="Tus solicitudes de servicios"
    subheader="Hasta el momento no tienes servicios requeridos"
    styleClass="card"
  >
  </p-card>
</div>
