<div class="no-block mt-2">
  <div class="row">
    <div class="comment-element">
      <div class="comment m-0">
        <span class="mb-0 font-medium p-0">{{ comment.name }}</span> ·
        <small class="font-weight-lighter" style="font-size: 12px">
          {{ comment.email }}</small
        >
        <p class="mb-0 font-weight-light p-0" style="font-size: 13px">
          {{ comment.comment }}
        </p>

        <div class="" style="font-size: 12px">
          <small
            class="text-muted clickable"
            pTooltip="{{ viewDate() }}"
            tooltipPosition="bottom"
            >{{ transformDate() }}</small
          >
        </div>
      </div>
    </div>
  </div>
</div>
