<div class="no-block mt-2">
  <div class="row">
    <div class="col-xs-12">
      <div class="comment-element">
        <div *ngIf="!updating_inner_comment">
          <div class="comment m-0">
            <span class="mb-0 font-medium p-0">{{ comment.owner.name }}</span> ·
            <small class="font-weight-lighter" style="font-size: 12px">
              {{ comment.owner.email }}</small
            >
            <div class="dropdown float-end" *ngIf="owns_inner_comment">
              <a
                class="pi pi-ellipsis-h dropdown"
                style="color: grey"
                role="button"
                id="dropdownMenuLink"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                type="button"
                id="dropdownMenuButton1"
              >
              </a>
              <ul
                class="dropdown-menu pull-left dropdown-menu-left"
                aria-labelledby="dropdownMenuLink"
              >
                <li>
                  <a class="dropdown-item" (click)="toggleUpdateInnerComment()"
                    >Editar</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" (click)="deleteInnerComment()"
                    >Eliminar</a
                  >
                </li>
              </ul>
            </div>
            <div
              class="p-1 row justify-content-center"
              *ngIf="media_type.includes('image')"
            >
              <img [src]="inner_comment_media_file" class="img-fluid" />
            </div>
            <div
              class="p-1 row justify-content-center"
              *ngIf="media_type.includes('video')"
            >
              <video controls>
                <source [src]="inner_comment_media_file" type="video/mp4" />
                Your browser does not support the video tag.
              </video>
            </div>
            <p class="mb-0 font-weight-light p-0" style="font-size: 13px">
              {{ inner_comment_description }}
            </p>

            <div class="" style="font-size: 12px">
              <small
                class="text-muted clickable"
                pTooltip="{{ viewDate() }}"
                tooltipPosition="bottom"
                >{{ transformDate() }}</small
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="updating_inner_comment">
    <div class="row py-2">
      <div class="col-auto">
        <img
          src="src/assets/images/users/d4.jpg"
          alt="user"
          width="30"
          class="rounded-circle"
        />
      </div>
      <div
        class="p-1 row justify-content-center"
        *ngIf="media_type.includes('image')"
      >
        <img [src]="inner_comment_media_file" class="img-fluid" />
      </div>
      <div
        class="p-1 row justify-content-center"
        *ngIf="media_type.includes('video')"
      >
        <video controls>
          <source [src]="inner_comment_media_file" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
      </div>
      <div class="form-group-row">
        <div
          class="d-flex justify-content-center gap-1 my-1"
          style="height: 30px"
        >
          <input
            type="text"
            class="form-control w-80"
            id="description"
            placeholder="Cambia tu comentario ..."
            pInputText
            style="font-size: 13px"
            [(ngModel)]="inner_comment_description"
            (keyup.enter)="updateInnerComment()"
          />
          <p-button
            icon="pi pi-camera"
            styleClass="p-button-outlined"
            pTooltip="Sube una imagen o video"
            tooltipPosition="top"
            (click)="uploader.click()"
          >
            <input
              type="file"
              class="custom-file-input"
              hidden
              #uploader
              id="media_resource"
              accept="image/png, image/jpeg, video/*"
              (change)="handleFileInput($event)"
            />
          </p-button>
          <p-button
            icon="pi pi-send"
            styleClass="p-button-outlined"
            pTooltip="Enviar comentario"
            tooltipPosition="top"
            [disabled]="!ready_to_send"
            (click)="updateInnerComment()"
          >
          </p-button>
        </div>
        <div *ngIf="invalid_comment_content" class="text-danger">
          No puedes crear comentarios sin contenido
        </div>
      </div>
    </div>
  </div>
</div>
